/*NAVIGATION*/

nav{
	height: 103px;
	margin-bottom:-19px !important;

}

nav img{
	height: 100%;
	float: left;

}




nav li{
	list-style: none;
	margin-top: 25px;
	font-size: 29px;

}


.countries{
	cursor:pointer;
}


.login-button{
	float:right;
	margin-top: 40px;
	font-size: 25px;

}

/*BANNER SECTIONS*/


.banner-section{
	text-align: center;
	background-image: url(../img/first-backgroundpic.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 497px;
	margin-bottom: -90px;
	}

/*BANNER NAV PILLS*/

.nav-pills{
	font-size: 15px;

}


.nav-pills li{
	font-size: 30px;
}



.slogan h2{
	color:white;
	padding-top: 30px;


}


.tabs{
	background-color:#245C9B;
	width: 44%;
	margin-top: -75px;
}

.tabs-chipmunk img{
	height: 135px;
	margin-left: 800px;

}

.white-box{
	height: 130px;
	background-color: #fff;
}




.tabs li{
	font-color:#fff;
	
}
.tabs a{
	color:#fff;
}

.dropdown{
	margin-right: 64px;
}



.dropdown li{
	font-size:10px;
	margin-top: 10px;
	
}





/*FLAGS*/

.countries-nav{
	border-right:30px;
	border-color: black;
}

.dropdown li:hover{
	background-color: #e5f4fc;
    border-top: 1px solid #ceeaf9;
    border-bottom: 1px solid #ceeaf9;
}



/* ALL SEARCH - NAV BAR */

.all-search-button{
	border-right: 50px;
	margin-right: 54px;

}


.all-search{
	width: 478px;
	height: 325px;
}

.all-search h3{
	color:#DCDCDC;
	text-align: center;	

}

.fa-search{
	color:#DCDCDC;
	margin-left: 184px;
}


.all-search-content{
	margin-top: 80px;
	background-color: #F5FFFA;
}



.all-search-content p{
	text-align: center;
}

.all-search-content button{
	margin-left: 172px;
	width: 120px;
	height: 43px;
}

.all-searches h5{
	 margin-top: -5px;
	 margin-left: 90px;


}



/* SIGN IN - MODOL - MODOL - MODOL*/


.modal-login{
	position: relative;
	left:-27px;
	bottom:13px;

}




.modal-dialog{
	width: 27%;
}


.modal-header h3{
	color: white;
	font-size: 21px; 
}



.modal-header i{
	display:inline; 
	padding-left:120px;

}


.modal-login-content{
	padding:17px;
	background-color: white;
}


.modal-header {
	background-color: #3394DE;
	width: 100%;
}



.join-socials img{
	width: 98%;
}



.modal-content button{
	width: 269px;
}

.modal-login-content button{
	width:450px;

}

/*Radio Buttons*/

.radio-buttons{
	position: relative;
	 margin-left: -124px;
	padding-top: 20px;
}



/*AIRPORT PICKER*/

.form-inline{
	position: absolute;
}

/*DATE PICKER*/

.input-daterange{
	/*height:10px;*/


}

/*PEOPLE COUNTER */

.people-counter{
	position: absolute;
    left: 833px;
    margin-top: -28px;
}

.people-counter ul {
	width: 338px



}


#myform {
    text-align: center;
    margin: 2%;
}

#myform input {
    position: relative;
    top: -22px;
    text-align: center;
    left:20px;

}




.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
	input.qtyplus { width:25px; height:25px;}
	input.qtyminus { width:25px; height:25px;}


/*Airplane Search Button*/
.plane-search {
	position: relative;
    bottom: 28px;
    right: 88px;
}



/*FORBES QUOTE */
.forbes{
	margin-top: 112px;
	background-color: #5A7991;
	opacity:0.9;
	height: 60px;
	text-align: center;
}

.forbes p{
	padding-top: 15px;
	color:#fff;
	font-size: 25px;
	
}

/*<!--- Why Hipmunk? !-->*/



.why{
	margin-top: 156px;

}
.why h2{
	text-align: center;

}

.row{
	margin-right: -5px;
    margin-left: 77px;

}
  
/*<!-- Take Hipmunk With You !--> */ 
.beach-mobile{
	text-align: center;
	background-image: url(../img/beach-lady.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;
}


.beach-mobile h3{
	font-size: 40px;
	padding-top: 93px;
}

.beach-mobile p{
	font-size: 20px;
    padding-top: 24px;
    padding-bottom: 20px;
}





.enter-phone{
	text-align: center;
	margin-left: 37%;
	width: 26%;
	background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}
/*
.mobile-button{
	text-align: center;
}*/




.btn-default{
	background-color: orange;
}


/*<!--- TOP DESTINATIONS/ FIX THOSE ROWS !-->*/
.top-destinations h2{
	margin-top: 76px;
	text-align: center;
	color:#4682B4;
	font-size: 32px;
	margin-bottom: 40px;
}

.top-destinations p{
	text-align: center;
	margin-bottom: 23px;
}

.city-header img{
	width:100%;
}

.city-content li{
	text-decoration: none;
	list-style-type: none;
}

.titles-colums{
	margin-bottom: -13px;
	color: #BFC5C8;
	font-size: 13px;
}

.city-block-container{
	height:240px;
	overflow: hidden;
	margin-bottom: 10px;
}



.city-block{
	position: relative;
	height: 240px;
	top:0; 
	transtion: top 0.5s;  
	/*helps with our position*/

}




.city-block.open{
	top:-240px;
	transition: 0.7s;

}



.city-header{
	position: relative;
	height: 240px;
	border: 1px solid #D3D3D3;

}

.city-header h4{
	font-size: 14px;
	}

.city-content{
	position: relative;
	height: 240px;
	border: 1px solid black;

}



.fa-caret-up{
	margin-top: -16px;
}

.fa-caret-down{
	transition: 0.7s;
} 


/*Footer Border*/
.footer-border{
	width:100%;
}


/*Footer*/

footer li{
	list-style: none;
}

.titles-colums p{
	text-align: center;
	margin-left: 10px;
}
