nav{
	height: 103px;
	margin-bottom:-19px !important;

}

nav img{
	height: 100%;
	float: left;

}




nav li{
	list-style: none;
	margin-top: 25px;
	font-size: 29px;

}



.banner-section{
	text-align: center;
	background-image: url(../img/first-backgroundpic.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;
	margin-bottom: -90px;
	}




.login-button{
	float:right;
	margin-top: 40px;
	font-size: 25px;

}


.slogan h2{
	color:white;

}

.forbes{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #5A7991;
	opacity:0.8;
	height: 60px;
	text-align: center;
}

.forbes p{
	padding-top: 15px;
	color:#fff;
	font-size: 25px;
	
}

.why h2{
	text-align: center;

}


.beach-mobile{
	text-align: center;
	background-image: url(../img/beach-lady.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;
}


.beach-mobile h3{
	font-size: 40px;
	padding-top: 93px;
}

.beach-mobile p{
	font-size: 20px;
	padding-top: 40px;
}



.enter-phone{
	text-align: center;
	margin-left: 41%;


}
/*
.mobile-button{
	text-align: center;
}*/




.btn-default{
	background-color: orange;
}


.top-destinations h2{
	margin-top: 76px;
	text-align: center;
}

.top-destinations p{
	text-align: center;
}


footer li{
	list-style: none;
}

.titles-colums{
	margin-bottom: -13px;
	color: #BFC5C8;
	font-size: 13px;
}



