nav li{
	list-style: none;

}



.banner-section{
	text-align: center;
	background-image: url(../img/first-backgroundpic.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;

	

	
	}

/*.banner-pic{ 
	height:100px;

}*/	



.slogan h2{
	color:white;

}

.forbes{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #5A7991;
	height: 60px;
	text-align: center;
}

.forbes p{
	padding-top: 15px;
	color:#fff;
	font-size: 25px;
	
}

.why h2{
	text-align: center;

}


.beach-mobile{
	text-align: center;
	background-image: url(../img/beach-lady.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 700px;



}






.enter-phone{
	text-align: center;
	margin-left:415px;

}

.mobile-button{
	text-align: center;
}




.btn-default{
	background-color: orange;
}


.top-destinations h2{
	margin-top: 76px;
	text-align: center;
}

.top-destinations p{
	text-align: center;
}


footer li{
	list-style: none;
}

.titles-colums{
	margin-bottom: -13px;
	color: #BFC5C8;
	font-size: 13px;
}



